body {
      
    font-family:Arial, sans-serif;
    margin: 0;
    padding:0;
    line-height:1.6;
    background-color:#f9f9f9;
    color:#7a1d6e;

}

header {
         
    background:#a75588;
    color:white;
    text-align:center;
    padding:2rem 0;

}

nav {

    background:#1c8dc2;
    padding:0.5rem;
    text-align:center;
    
}
       














